@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400");

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 200;
}

/* BUTTON */
input[type="submit"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 2em 0 2.375em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.325em;
  font-size: 0.725em;
}

  input[type="submit"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5em;
  }

  input[type="submit"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }

  input[type="submit"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 0.8em;
    padding: 0 2.5em 0 2.875em;
    height: 3.75em;
    line-height: 3.75em;
  }

  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="button"].disabled, input[type="button"]:disabled,
  button.disabled, button:disabled,
  .button.disabled, .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
  }

input[type="submit"],
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #666666;
  color: #444444 !important;
}

  input[type="submit"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    color: #EF6480 !important;
    box-shadow: inset 0 0 0 2px #EF6480;
  }

  input[type="submit"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: rgba(239, 100, 128, 0.15);
  }

  input[type="submit"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    color: #999999;
  }
/* BUTTON END */

.main {
  width: 100vw;
  height: 100vh;

  align-content: center;

  /* Background Formatting */
  background: url('../../images/bg-1920.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* #logo img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
} */

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow-y: scroll;
}

#logo {
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 29vw;
  width: 29vw;
  pointer-events: none;
  background-color: rgba(255,255,255,0.85);
}

#logo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* .box {
  transition: all 0.6s ease;
} */

.box img {
  border: 1px solid #808080;
  margin-left: -1px;
  object-fit: cover;
  height: 29vw;
  width: 29vw;
}

@media screen and (max-width: 736px) {

  #logo, .box img {
    height: 50vw;
    width: 50vw;
  }

}

/* FORM */
.body {
  margin: 1em auto;
  padding: 4em 0em;
  height: 60vh;
  width: 35vw;
}
.reservation{
  /* display: grid;
  grid: auto 20% auto / 50% 50%;
  grid-gap: 1em; */
  vertical-align: top; /* here */
}
  #num-guests {
    width: 1.5em;
  }
  #date {
    width: 8em;
  }
  #res-name {
    width: 8em;
  }
  #number {
    width: 8em;
  }
  #email {
    width: 11em;
  }
  /* #time {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    padding: 1em;
    border: 1px solid black;
    background-color: #cebaa6;
    border-radius: 4px;
  }
  #submit {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    text-align: center;
  } */

.reservation input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  border-style: dotted;
  font: inherit;
  text-align: center;
}

@media screen and (max-width: 768px) {
    
  .body {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
    height: inherit;
  }

}

/* FOOTER */

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

li a:hover {
  color: #EF6480 !important;
}

#footer {
  text-align: center;
  margin-top: 4em;
}

#footer a {
  color: inherit;
}

#footer:before {
  content: '';
  display: inline-block;
  width: 6em;
  height: 2px;
  background-color: #666666;
  margin-bottom: 2em;
}

#footer .copyright {
  font-size: 0.8em;
}

@media screen and (max-width: 736px) {

  #footer {
    margin-top: 2em;
  }

  #footer:before {
    margin-bottom: 2em;
  }

  .copyright {
    padding: 0 0.5em;
  }
}